.profile__name {
	grid-area: name;
	align-self: end;
	margin: 0;
	padding: 0 0 8px;
	width: 100%;
	max-width: 320px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 48px;
	white-space: nowrap;
	color: #fff;
	font-size: 42px;
	font-weight: 500;
	font-style: normal;
}

@media screen and (max-width: 720px) {
	.profile__name {
		padding-bottom: 7px;
		max-width: 220px;
		line-height: 33px;
		font-size: 27px;
	}
}