.profile__info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}

@media screen and (max-width: 720px) {
    .profile__info {
        justify-content: center;
        gap: 14px;
        max-width: 282px;
    }
}