.popup__title {
    margin: 0;
    padding: 0 0 19px;
    line-height: 29px;
    color: #000;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
}

@media screen and (max-width: 420px) {
    .popup__title {
        line-height: 22px;
        font-size: 18px;
    }
}