.popup__container {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    
    margin: 0 19px;
    border-radius: 10px;
    background-color: #fff;
    padding: 34px 36px 37px;
    width: 100%;
    max-width: 430px;
    color: #000;
}

@media screen and (max-width: 720px) {
    .popup__container {
        padding: 25px 22px 25px;
    }
}