.profile__add-button {
	box-sizing: border-box;
	display: inline-block;
	grid-area: add-button;
	transition: opacity .5s ease-in-out;
	border: 2px solid #fff;
	border-radius: 2px;
	background: none;
	background-image: url('../../../images/add_button.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 22px 22px;
	cursor: pointer;
	width: 150px;
	height: 50px;
}

@media screen and (max-width: 720px) {
	.profile__add-button {
		margin-top: 36px;
		background-size: 16px 16px;
		width: 100%;
		max-width: 282px;
	}
}

.profile__add-button:hover {
	opacity: 0.6;
}