.elements__like {
    border: none;
    background: none;
    background-image: url('../../../images/like.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 19px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.elements__like:hover {
    opacity: 0.5;
}